<%= form_for(@attribute_category) do |f| %>
  <%= display_errors @attribute_category %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
