<%= form_for([@character_type, @caste]) do |f| %>
  <%= display_errors @caste %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :abilities %><br>
    <%= f.collection_select :ability_ids, Ability.order(:name), :id, :name,
      {selected: @caste.ability_ids, include_blank: false, include_hidden: false},
      {multiple: true, size: 26} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
