<%= form_for([@character_type, @caste]) do |f| %>
  <% if @caste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caste.errors.count, "error") %> prohibited this caste from being saved:</h2>

      <ul>
      <% @caste.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :anima_effect %><br>
    <%= f.text_area :anima_effect %><br>
    <%= f.label :abilities %><br>
    <%= f.collection_select :ability_ids, Ability.order(:name), :id, :name,
      {selected: @caste.ability_ids}, {multiple: true, size: 26} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
