<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @caste.name %>
</p>

<%= render "abilities/list" %>
<%= render "anima_effects/list" %>

<%= link_to 'Edit', edit_caste_path(@caste) %> |
<%= link_to 'Add Anima Effect', new_caste_anima_effect_path(@caste) %> |
<%= link_to 'Back', character_type_path(@caste.character_type) %>
