<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @caste.name %>
</p>

<p>
  <strong>Anima Effect:</strong>
  <%= @caste.anima_effect %>
</p>

<%= render "abilities/list" %>

<%= link_to 'Edit', edit_character_type_caste_path(@character_type, @caste) %> |
<%= link_to 'Back', character_type_path(@character_type) %>
