<%= form_for([@parent, @anima_effect]) do |f| %>
  <%= display_errors @anima_effect %>

  <div class="field">
    <%= f.label :condition %><br>
    <%= f.text_field :condition %><br>
    <%= f.label :effect %><br>
    <%= f.text_field :effect %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
