<h1>Listing Anima Effects</h1>

<table>
  <thead>
    <tr>
      <th>Condition</th>
      <th>Effect</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anima_effects.each do |anima_effect| %>
      <tr>
        <td><%= anima_effect.condition %></td>
        <td><%= anima_effect.effect %></td>
        <td><%= link_to 'Show', [@parent, anima_effect] %></td>
        <td><%= link_to 'Edit', edit_path(@parent, anima_effect) %></td>
        <td><%= link_to 'Destroy', [@parent, anima_effect], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
